**/__pycache__
**/*.py[cod]
**/*.egg-info
.venv/
.env
.env.*
!.env.example
.git
.gitignore
.pytest_cache/
.ruff_cache/
.mypy_cache/
node_modules
**/node_modules
.next
**/.next
uploads/
postgres_data/
redis_data/
**/.DS_Store
*.tsbuildinfo
tests/
