@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 10 10 10;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --muted: 248 250 252;
    --muted-foreground: 0 0% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
